VITE_SUPABASE_URL=https://zjbyvwxgqttsipkjkrig.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpqYnl2d3hncXR0c2lwa2prcmlnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczMDU4MjQsImV4cCI6MjA5Mjg4MTgyNH0.E1wOl2qLFWkcD2YZYJ8KgbfewPRhwtOP2tkwUXi2bpQ
VITE_API_URL=https://simba-2.onrender.com/
